.dashboardContainer {
	display: flex;
	margin: 20px;
}

.card-img {
	display: flex;
	margin: 10px;
	width: 20%;
	height: 20%;
}

@media only screen and (max-width: 768px) {
	.dashboardContainer {
		flex-direction: column-reverse;
	}
}
